@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
.Nav {
    width: 100%;
    height: 6.8vw;
    font-family: 'Hanuman', serif;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1000;
    background-color: transparent;
    transition: top 2s ease-in-out;
    transition: background-color 1s;
    transition: color 1s;
    // box-shadow: 0 0.4vw 1vw rgba(183, 180, 180, 0.408);
    box-shadow: none;
    .logo {
        width: 8vw;
        height: 4vw;
        margin:  0 auto 0 1.7vw;
        div {
            background-image: url('https://business-cambodia.com/BC.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
    }
    .ang {
        font-size: 1vw;
        position: relative;
        font-weight: 400;
        color: white;
        text-decoration: none;
        margin-right: 2.5vw;
        padding: 0.5vw 0 0.4vw 0;
        border-radius: 0.2vw;
        // transition: all 200ms ease-in-out;
        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 10%;
            bottom: 0;
            left: 0;
            background-color: red;
            border-radius: 1vw 0 0 1vw;
            transition: all 400ms ease-out;
        }
        &::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 10%;
            bottom: 0;
            right: 0;
            background-color: rgb(139, 139, 139);
            border-radius: 0 1vw 1vw 0;
            transition: all 400ms ease-out;
        }
        &:hover {
            &::before {
                width: 50%;
            }
            &::after {
                width: 50%;
            }
        }
    }
    .dropdown {
        cursor: pointer;
        color: white;
        font-size: 1vw;
        font-weight: 400;
        position: relative;
        padding: 0.5vw 1.2vw;
        margin-right: 0.5vw;
        border-radius: 0.2vw;
        box-shadow: inset 0.05vw 0.05vw 0px white, inset -0.05vw -0.05vw 0 white;
        .drop {
            width: 100%;
            font-size: 1vw;
            font-weight: 400;
            position: absolute;
            display: none;
            left: 0;
            top: 2.45vw;
            background-color: rgb(175, 175, 175);
            border-radius: 0.2vw;
            transition: all 300ms ease-in-out;
            .droplink {
                padding: 1vw 0.5vw;
                text-align: center;
                color: whitesmoke;
                text-decoration: none;
                border-radius: 0.2vw;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.546);
                    color: black;
                }
            }
        }
        &:hover {
            .drop {
                display: flex;
                flex-flow: column nowrap;
            }
        }
    }
    .yoo {
        display: none;
    }
    .hellno {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(15, 13, 23, 0.801);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        gap: 5vw;
        backdrop-filter: blur(5px);
        z-index: -1;
    }
    .unload {
        position: relative;
        text-decoration: none;
        width: auto;
        height: auto;
        font-size: 1rem;
        color: whitesmoke;
        padding: 0;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 10%;
            bottom: 0;
            left: 0;
            transform: scale(0);
            background-color: red;
            transition: all 200ms ease-out;
        }
        &:hover{
            &::before {
            transform: scale(1);    
            }
        }
    }
    .search {
        width: 1.5vw;
        height: 1.5vw;
        margin: auto 2.2vw auto 0.8vw;
        color: white;
        &:hover {
            color: rgb(155, 0, 194);
        }
    }
    
    
    &.active {
        background-color: whitesmoke;
        color: rgb(37, 37, 67);
        box-shadow: 0 0 0.5vw 0.5vw gray;
        transition: top 2s ease-in-out;
        // box-shadow: 0 0.2vw 1vw whitesmoke;
        &.top-0 {
            top: 0;
            // animation-name: Top0;
            // animation-duration: 300ms;
            // animation-fill-mode: forwards;
            // animation-iteration-count: 1;
        }
        &.top-50 {
            // animation-name: Top50;
            // animation-duration: 1.5s;
            // animation-fill-mode: forwards;
            // animation-iteration-count: 1;
            top: -30vw;
        }

        .ang {
            color: inherit;
            transition: all 0s;
        }
        .dropdown {
            color: inherit;
            box-shadow: inset 0.05vw 0.05vw 0px 0.02vw rgb(37, 37, 67), inset -0.05vw -0.05vw 0 0.02vw rgb(37, 37, 67);
        }
        .search {
            transition: all 0s;
            color: inherit;
        }
    }
}

@media (max-width: 991.98px) {
    .Nav {
        height: 80px;
        .logo {
            width: 100px;
            height: 50px;
            margin-left: 4vw;
        }
        .ang {
            display: none;
        }
        .dropdown {
            display: none;
        }
        .yoo {
            display: block;
            width: 25px;
            height: 25px;
            .toogle {
                background-color: white;
                color: wheat;
                width: 25px;
                height: 25px;
                path {
                    background-color: inherit;
                    color: aliceblue;
                } 
            }
        }
        .search {
            width: 25px;
            height: 25px;
        }
    }
}
// @keyframes Top0{
//     0% {
//         top: -30vw;
//     }
//     100% {
//         top: 0;
//     }
// }
// @keyframes Top50{
//     0% {
//         top: 0;
//     }
//     100% {
//         top: -30vw;
//     }
// }
